<%= content_for(:title, "Evercam: Camera Dashboard") %>
<div class="page-content-wrapper">
  <div class="page-content" id="camera-index">
    <% @cameras.each do |camera| %>
      <div class="col-lg-6 camera-index-height col-md-6 col-sm-6 col-xs-12 camera-index camera-<%= camera['id'] %> <%= "camera-offline" unless camera['is_online'] %>">
        <% unless camera['is_online'] %>
          <div id= "<%= camera['id'] %>" class="refresh-camera-thumbnail"><i class="fas fa-sync icon-font fav-icon-still"></i>
            <i class='fas fa-sync fa-spin icon-font fa-1x fa-fw refresh-gif-thumbnail' aria-hidden='true'></i>
          </div>
        <% end %>
        <%= link_to cameras_single_path(camera['id']) do %>
          <div class="snapshot">
            <%= preview(camera, true) %>
          </div>
          <div class="camera-info">
            <div class="camera-name">
              <%= camera['name'] %>
              <i class="red fa fa-unlink font-10"></i>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<input type="hidden" id="index-camera-count" value="<%= @camera_count %>">

<script>
  $(document).ready(function () {
    window.initializeCameraIndex();
  });
</script>
