<section id="make-payment-section">
  <div class="container section">
    <div id="signin" class="col-md-12 text-center">
      <div class="bb-alert alert alert-danger" style="display:none;">
        <span></span>
      </div>
      <div class="branding margin-bottom-50">
        <%= link_to root_path, class: 'sign-in-logo' do %>
          <%= image_tag("evercam_logo.png", :class => "svg-logo", alt: "Evercam.io") %>
        <% end %>
      </div>
    </div>

    <div id="sign-in" class="make-payment col-md-6 col-md-offset-3">
      <h3 class="text-center">PAY WITH CARD</h3>
      <form action="<%= make_payment_path %>" method="post" id="example-form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="col-md-10 col-md-offset-1">
          <label for="email">E-mail Address</label>
          <div class="input-icon right">
            <i class="fa fa-envelope"></i>
            <input type="text" name="email" id="email" class="required" />
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <label for="reference">Invoive Or Reference Number</label>
          <div class="input-icon right">
            <i class="fa fa-euroa">#</i>
            <input type="text" name="reference" class="required" />
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <label for="amount">Payment Amount</label>
          <div class="input-icon right">
            <i class="fa fa-euro">€</i>
            <input type="text" name="amount" id="amount" class="required"/>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-6 adjust-padding-col1">
            <div class="row1">
              <label for="name" class="stripeLabel">Card Holder's Name</label>
              <input type="text" name="name" id="name" class="required" />
            </div>
          </div>
          <div class="col-md-6 adjust-padding-col2">
            <div class="row1">
              <label>Card Number</label>
              <input id="card-number" name="card-number" type="text" maxlength="20" autocomplete="off" class="card-number stripe-sensitive required" />
            </div>
          </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
          <ul class="cards unstyled">
            <li>
              <span class="card amex" title="American Express">AMEX</span>
            </li>
            <li>
              <span class="card master" title="Mastercard">MC</span>
            </li>
            <li>
              <span class="card visa" title="Visa">VISA</span>
            </li>
            <li>
              <span class="card stripe" title="stripe">stripe</span>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-4 adjust-padding-col1">
            <label>Card CVC</label>
            <input name="card-cvc" id="card-cvc" type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required" />
          </div>
          <div class="col-md-4 adjust-padding-col1">
            <label>Month</label>
            <select name="expiry-month" id="expiry-month" class="form-control card-expiry-month expiry-drop-down">
            </select>
            <script type="text/javascript">
              var select = $(".card-expiry-month"),
                month = new Date().getMonth() + 1;
              for (var i = 1; i <= 12; i++) {
                select.append($("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
              }
            </script>
          </div>
          <div class="col-md-4 adjust-padding-col2">
            <label>Year</label>
            <select name="expiry-year" id="expiry-year" class=" form-control card-expiry-year expiry-drop-down"></select>
            <script type="text/javascript">
              var select = $(".card-expiry-year"),
                year = new Date().getFullYear();
              for (var i = 0; i < 12; i++) {
                select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
              }
            </script>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1 margin-top-20">
          <button class="btn btn-large btn-primary col-lg-10 col-lg-offset-1" type="submit" name="submit-button" id="submit-button">Make Payment</button>
          <span class="payment-errors"></span>
        </div>
      </form>
    </div>

    <div class="grey col-md-4 col-md-offset-4 row text-center margin-top-20">
      <p> <%= link_to "Sign in", signin_path %></p>
    </div>
  </div>
</section>

<script>
  window.initializePay();
  Notification.init(".bb-alert");
  <% if flash[:error] %>
  Notification.show('<%= flash[:error] %>');
  <% end %>
</script>
