user {{user_name}} {{user_name}};

worker_processes  1;

error_log  logs/error.log  info;

pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    proxy_redirect              off;
    proxy_set_header            Host            $http_host;
    proxy_set_header            X-Real-IP       $remote_addr;
    proxy_set_header            X-Forwared-For  $proxy_add_x_forwarded_for;
    proxy_connect_timeout 60s;

    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    upstream media_evercam {
        server 127.0.0.1:4000;
    }

    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;

    keepalive_timeout  65;

    more_set_headers 'Access-Control-Allow-Origin: *';
    more_set_headers "Content-Type: $upstream_http_content_type";

    server {
        listen       80;
        server_name  localhost;

        location /socket {
            proxy_pass http://media_evercam/socket;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_connect_timeout 60s;
        }

        location / {
            return 301 https://media.evercam.io$request_uri;
        }

        location /stat {
                rtmp_stat all;
                rtmp_stat_stylesheet /stat.xsl;
        }
        location /stat.xsl {
                root /usr/local/nginx/html;
        }
        location /control {
                rtmp_control all;

                # Enable CORS
                add_header Access-Control-Allow-Origin * always;
        }
    }

    server {
        listen       443 ssl;
        server_name  localhost;

        ssl on;
        ssl_certificate      /etc/ssl/media_evercam_io.pem;
        ssl_certificate_key  /etc/ssl/media_evercam_io.key;

        ssl_session_cache shared:SSL:50m;
        ssl_session_timeout  5m;

        ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH RSA+AESGCM RSA+AES !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
        ssl_prefer_server_ciphers  on;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

        location / {
            proxy_pass http://media_evercam;
            proxy_connect_timeout 60s;
        }
        location /socket {
            proxy_pass http://media_evercam/socket;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_connect_timeout 60s;
        }
        location /hls {
            types {
                application/vnd.apple.mpegurl m3u8;
                video/mp2t ts;
            }
            root /tmp;
            add_header Cache-Control no-cache;
        }
        location /stat {
                rtmp_stat all;
                rtmp_stat_stylesheet /stat.xsl;
        }
        location /stat.xsl {
                root /usr/local/nginx/html;
        }
        location /control {
                rtmp_control all;

                # Enable CORS
                add_header Access-Control-Allow-Origin * always;
        }
    }
}


rtmp {
    server {
        listen 1935;

        chunk_size 1024;
        buflen 10ms;
        notify_method get;

        application live {
            live on;
            hls on;
            hls_path /tmp/hls;
            hls_fragment_naming system;
            hls_nested on;
            hls_cleanup on;
            on_play http://127.0.0.1:4000/on_play;

            allow publish 127.0.0.1;
        }
    }
}
