<div id="snapshot-widget" class="widget-config">
  <% if @cameras.empty? %>
    <div class="col-md-6">
      <p class="note note-info">No public cameras found. Only public cameras can be used to make a widget. You can make a camera public from the sharing tab of camera or add a public camera from the list of public cameras.</p>
    </div>
  <% else %>
    <div class="col-md-6">
      <form id="widget-snapshot-navigator" role="form" method="post" class="widget-new center-block">
        <div class="widget-input form-group">
          <div class="my-row">
            <label class="col-md-4 control-label" for="widget-camera">Camera</label>
          </div>
          <div class="input-group col-xs-12 col-sm-12 col-md-8">
            <select id="snapshot-widget-camera" name="widget-camera" class="form-control is-required">
              <% @cameras.each do |camera| %>
                <% css = "onlinec"
                  thumbnail_url = "https://media.evercam.io/v2/cameras/#{camera['id']}/thumbnail?api_id=#{current_user.api_id}&api_key=#{current_user.api_key}"
                  unless !camera['is_online']
                    css = "offlinec"
                  end
                %>
                <option class="<%= css %>" value="<%= camera['id'] %>" data-val="<%= thumbnail_url %>">
                  <%= camera['name'] %> <% unless camera['is_online'] %>(Offline)<% end %> <% unless camera['is_public'] %>(Private)<% end %>
                </option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="form-group widget-input margin-top-10">
          <div class="my-row">
            <label class="col-md-4 control-label" for="widget-datetime">Date</label>
          </div>
          <div class="input-group col-sm-12 col-xs-12 col-md-8">
            <input type="text" class="form-control" id="widget-datetime" name="widget-datetime">
          </div>
        </div>

        <div class="form-group widget-input margin-top-10">
          <div class="my-row">
            <label class="col-md-4 control-label" for="widget-datetime">Time</label>
          </div>
          <div class="input-group col-sm-12 col-xs-12 col-md-8">
            <div class="col-md-4 dropdown-padding-left"><select id="widget-hour" name="widget-hour" class="time-dropdown form-control is-required"></select></div>
            <div class="col-md-4 dropdown-padding-left"><select id="widget-minutes" name="widget-hour" class="time-dropdown form-control is-required"></select></div>
            <div class="col-md-4 dropdown-padding-left"><select id="widget-seconds" name="widget-hour" class="time-dropdown form-control is-required"></select></div>
          </div>
        </div>

        <div class="form-group widget-input margin-top-10">
          <div class="my-row">
            <label class="col-md-4 control-label" for="widget-authenticate">Pre-Authenticate<span style="visibility: hidden;" class="true switch grey">*</span></label>
          </div>
          <div class="input-group col-md-8 col-sm-12 col-xs-12">
            <select id="snapshot-widget-authenticate" name="widget-authenticate" class="form-control is-required">
              <option class="" value="false">No</option>
              <option class="" value="true">Yes</option>
            </select>
          </div>
        </div>

        <div class="true switch help-block margin-top-10" style="visibility: hidden;">
          * Warning. Choosing 'Yes' will include your API ID and Key. This should only be done on private sites. We recommend you do not choose this option for public sites.
        </div>
      </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="row widget-code">
        <div class="col-md-12">
          <h5>Embed this code on your webpage:</h5>
          <textarea id="snapshot-code" class="pretty-code height-160 col-md-12" type="text" readonly>
          </textarea>
        </div>
      </div>
    </div>

    <div class="row form-vertical">
      <div class="col-md-12">
        <div class="btn btn-primary margin-left-15 margin-bottom-20" onclick="initLocalStorage()">
          Show Widget
        </div>
      </div>
    </div>

    <div class="clear-f"></div>

    <div class="col-md-12">
      <div class="line-break"></div>
      <div class="placeholder"></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var lastSelectedDate, iframeWindow, format, initCameraSelect;
  var recordings_loaded = false;
  $('#widget-datetime').val(moment().format("YYYY-MM-DD"));
  $(document).ready(function () {
    $('#widget-datetime').datetimepicker({
      timepicker: false,
      closeOnDateSelect: 0,
      defaultDate: new Date(),
      onChangeDateTime: function(dp, $input){
        if($input.val() != lastSelectedDate) {
          lastSelectedDate = $input.val();
        }
      },
      format: 'Y-m-d'
    });

    on_recording_widget_show();
    initCameraSelect();
    function initCameraSelect() {
      $("#snapshot-widget-camera").select2({
        templateSelection: widgetFormat,
        templateResult: widgetFormat,
        escapeMarkup: function(m) {
          return m;
        }
      });
      $(".widget-input .select2-container--default").width("100%");
    };

    function widgetFormat(state) {
      var is_offline;
      is_offline = "";
      if (!state.id) {
        return state.text;
      }
      if (state.id === '0') {
        return state.text;
      }
      return $("<span><img style='height:30px;margin-bottom:1px;margin-top:1px;width:35px;' src='" + state.element.attributes[2].value + "' class='img-flag' />&nbsp;" + state.text + "</span>");
    };

    $("#snapshot-widget-authenticate").on("change", showNote);
    $("#snapshot-code").on("click", function(){
      this.select();
    });
    for(var i=0;i<60;i++){
      var option = '<option value="'+FormatNumTo2(i)+'">'+FormatNumTo2(i)+'</option>';
      if(i < 24)
        $("#widget-hour").append(option);
      $("#widget-minutes").append(option);
      $("#widget-seconds").append(option);
    }
  });

  function on_recording_widget_show() {
    $(".nav-tab-recording-widget").on("shown.bs.tab", function(){
      if(!recordings_loaded) {
        recordings_loaded = true;
        initLocalStorage();
      }
    });
  }

  function FormatNumTo2 (n) {
    if (n < 10) {
      return "0" + n;
    }
    else {
      return n;
    }
  }

  function initLocalStorage() {
    var url = window.location.origin;
    var camera = $("#snapshot-widget-camera").val();
    var camera_name = $('#snapshot-widget-camera option:selected').text()
    var pre_auth = $('#snapshot-widget-authenticate').val();
    var is_private = camera_name.indexOf('(Private)') == -1 ? 'false' : 'true';
    var api_credentials = '';
    var date_time = '';
    var stringDateTime = '';

    if($('#widget-datetime').val()){
      stringDateTime = $('#widget-datetime').val()+"T"+$('#widget-hour').val()+":"+$('#widget-minutes').val()+":"+$('#widget-seconds').val()+".000Z";
      date_time = "&date_time=" + stringDateTime;
    }
    if(pre_auth == 'true') {
      api_credentials = "&amp;api_id&#61;<%= current_user.api_id -%>&amp;api_key&#61;<%= current_user.api_key -%>";
    }

    var embedCode = '&lt;div evercam&#61;"snapshot-navigator"&gt;&lt;&#47;div&gt;'+
        '&lt;script type&#61;"text/javascript" src&#61;"' + url + '&#47;snapshot.navigator.js?camera&#61;' + camera+'&amp;private&#61;'+is_private + api_credentials + date_time + '"&gt;&lt;&#47;script&gt;';
    $('#snapshot-code').html(embedCode);

    $(".placeholder").empty();
    var iframe =
        jQuery("<iframe />")
            .css({ "overflow": "hidden", "width": "100%", "height": "640px" })
            .attr({ "src": '/snapshot.navigator.widget?camera=' + camera + date_time, "allowFullScreen": true, "frameborder": "0", scrolling: "no", onload: 'javascript:resizeIframe(this);' })
            .appendTo(".placeholder");
  }
  $(window).resize(function(){
    if(!iframeWindow)
      return;
    resizeIframe(iframeWindow);
  });
  function resizeIframe(iframeControl) {
    iframeWindow = iframeControl;
    iframeControl.style.height = iframeControl.contentWindow.document.body.scrollHeight + 'px';
  }

  function showNote(){
    if($(this).val()){
      var preElements = document.getElementsByClassName('switch');
      for(var i=0; i < preElements.length; i++){
        //if the class contains the selected value, then show it, else hide it
        preElements[i].style.visibility = preElements[i].classList.contains($(this).val())?'visible':'hidden';
      }
    }
  }
</script>
